@using StroyTrend.Domain.Aggregates.ReportAggregate.ValueObjects.Records
@model StroyTrend.WebApp.ViewModels.ReportViewModel
@{
    ViewData["Title"] = "Report";
}
<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
    <tr>
        <th>Name</th>
        <th>Distribution</th>
        <th>From</th>
        <th>To</th>
        <th>Groups</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@Model.Name</td>
        <td>@Model.Request.Distribution</td>
        <td>@Model.Request.Filters.From</td>
        <td>@Model.Request.Filters.To</td>
        <td>
            @foreach (var group in @Model.Request.Filters.Groups.Values)
            {
                <span class="badge bg-secondary">@group</span>
            }
        </td>
        <td>@Model.Total</td>
    </tr>
    </tbody>
</table>

<table id="data" class="table table-striped table-bordered" style="width:100%">
    <thead>
    <div class="container-fluid text-center">
        <a asp-action="Report" asp-route-date="2024-01-01" asp-route-reportType="@Model.ReportType" class="btn btn-success">First week</a>
        <a asp-action="Report" asp-route-date="2024-01-14" asp-route-reportType="@Model.ReportType" class="btn btn-secondary">Second week</a>
    </div>
   


    <tr>
        <th>Date</th>
        <th>Data</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var keyPair in Model.Records)
    {
            <tr>
                <td>@keyPair.Key</td>
                <td>
                    @foreach (var record in keyPair.Value)
                    {
                        <div>@record.Key : @record.Value</div>
                    }
                </td>
            </tr>
        
    }
    </tbody>
</table>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#data').DataTable();
           
        });
    </script>
}